*/.vscode
*/venv
*/__pycache__
*.pyc
.idea/dictionaries/pc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Univerdustry.iml
.idea/vcs.xml
.idea/modules.xml
.idea/dictionaries/pc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Univerdustry.iml
.idea/vcs.xml
.vscode/settings.json
*.pdf
