loguru==0.3.2gunicorn==20.0.2eventlet==0.25.1Flask==1.1.1requests==2.22.0elasticsearch==7.0.5googletrans==2.4.0Unidecode==1.1.1clean-text==0.1.1urllib3==1.25.7fuzzywuzzy==0.18.0python-Levenshtein==0.12.0git+https://github.com/emres/turkish-deasciifier.gitnumpy==1.16.2