eventlet==0.25.1
loguru==0.4.0
celery==4.3.0
redis==3.3.11
gunicorn==20.0.4
requests==2.22.0
Flask==1.1.1
lxml==4.4.2
elasticsearch==7.0.5
scholarly==0.2.5
langdetect==1.0.8
beautifulsoup4==4.8.0
six==1.12.0
pdfminer.six
langdetect==1.0.8
nltk=3.5
clean-text=0.1.1
